
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */